@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}
body {
    background: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}
.style {
    font-family: 'Gloria Hallelujah', cursive;
    color: #ffffff;
    margin-left: -25px;
    font-size: 10px;
    margin-bottom: 40px;
}
.container {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100vh;
    gap: 30px;
    
    .container_add {
        width: 350px;
        display: flex;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        background-color: #30475E;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.596);
        color: #fff;
        padding: 0px 20px;
        position: fixed;
    }

    .div_inputs {
        display: flex;
        flex-direction: column;

        .label_inputs {
            margin-bottom: 5px;
        }
        #title {
            width: 250px;
            font-size: 13px;
            padding: 7px;
            border-radius: 5px;
            background-color: #FEF5ED;
            color: #30475E;
            margin-bottom: 10px;
        }
        #conteudo {
            width: 250px;
            height: 100px;
            border-radius: 5px;
            padding: 7px;
            overflow: hidden;
            resize: none;
            background-color: #FEF5ED;
            color: #30475E;
        }
    }
    .btn_add_note {
        padding: 15px;
        font-size: 16px;
        background-color: #79B4B7;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-top: 20px;
        color: #000;
        font-family: 'Roboto Condensed', sans-serif;
        transition: 0.4s all;
        cursor: pointer;
    }
    .btn_add_note:hover {
        background-color: #609092;
    }
    .lista {
        width: 90%;
        padding: 20px;
        border-radius: 10px;
        grid-area: 1/2/1/2;
    }
}

// JAVASCRIPT ELEMENTS
.div_create {
    background-color: #406882;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    animation: 0.5s alternate forwards ease-in;
    color: rgb(255, 255, 255);
    word-break: break-all;

    .note_title {
        display: flex;
        flex-direction: row;
        width: 100%;

        .title {
         width: 90%;
         margin-bottom: 10px;
        }
        .date {
            width: 100px;
            color: #ffffff81;
            font-size: 14px;
        }
    }
}
.div_create:hover {
    transform: scale(101%);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.div3 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 5px;

    .btn_create,.btn_editar {
        align-self: flex-end;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        font-size: 16px;
        background-color: #314f63;
        cursor: pointer;
        transition: all 0.4s;
        font-family: 'Roboto Condensed', sans-serif;
        border: 2px solid #fff;
        color: #fff;
    }
    .btn_create:hover {
        background-color: rgba(255, 0, 0, 0.541);
    }    
    .btn_editar:hover {
        background-color: #609092;
    }
    .icon_editar {
        width: 15px;
    }
}

@keyframes remove {
    0%{
        transform: translateX(0%);
    }
    100% {
        transform: translateX(200%);
    }
}
// Responsividade
@media (max-width: 790px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        gap: 0;
        
            .container_add {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                padding-bottom: 40px;
                position: static;
        
                background-color: #30475E;
                box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.349);
                color: #fff;

            }
        }

        .lista {
            align-self: center;
            display: flex;
            flex-direction: column;
            width: 100vh;
            padding: 0px 20px;
        }
    }